* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

body {
    margin: 0;
    padding: 0;

}

p.text {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    justify-content: center;
    width: 800px;
    font-size: large;

}

p.text::first-letter {
    font-size: xx-large;
    color: brown;
    font-weight: bolder;
    text-transform: capitalize;

}

.text::first-line {
    color: blueviolet;
    text-shadow: red;
    transition: all 1s ease;
    transform: scaleX(12);
}

div.bgc {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-image: url("IMAGES/wedding/outframe2.jpg");

}

div.bgc1 {
    background-image: url("IMAGES/wedding/flowerframe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img.bgc2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 180px;
    left: -20px;
    opacity: 0.7;
    border: 5px solid transparent;
    image-rendering: pixelated;
    border-radius: 100px;
}

img.round {
    height: 350px;
    width: 350px;
    border-radius: 100px;
    border-image: space;
    object-fit: cover;
    object-position: center;
    border: 5px solid black;

}

img.sm {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 100px;
    justify-content: center;

}

img.lg {
    width: 350px;
    height: 350px;
    object-position: top;
    border-radius: 100px;
    justify-content: center;
}

div.pos {
    position: relative;
    margin-top: 300px;
    display: inline-block;
    text-decoration: dotted;
    text-align: center;
    justify-self: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    color: rgb(205, 239, 35);

}

div.frame {
    position: absolute;
    display: inline-flex;
    top: 270px;
    right: 300px;
    justify-content: center;

}

.text1 {
    font-family: "Lobster", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: large;
    color: rgba(242, 102, 78, 0.823);
    text-transform: uppercase;
    transition: all 2s ease;
    text-decoration: wavy;
    text-rendering: optimizeSpeed;
}

.text1::first-letter {
    font-weight: 900;
    font-size: xx-large;
    color: rgba(27, 114, 105, 0.574);
}
p.text3{
    text-align: center;
    text-transform: capitalize;
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: floralwhite;
    justify-content:space-around ;
    font-size: xx-large;
}
.hidden{
    display: none;
    
}
.active{
    visibility: visible;
    cursor: pointer;
    transition: all 2s ease;
    
}
